extends layout

block content
  script(type='text/javascript', src='/socket.io/socket.io.js')
  != js("details")

  h1
    em http://codewhispers.cloudapp.net

  div.pane1

    h1=title
    p Welcome to #{title}

    h2 Round:&nbsp;
      span.roundNumber

    div.details
      table.branches

  div.instructions
