extends layout

block content
  script(type='text/javascript', src='/javascripts/details.js')
  div.container
    div.pane1

      h1
        em http://chinesewhispers.cloudapp.net

      h1=title
      p Welcome to #{title}

      h2 Round:&nbsp;
        span.roundNumber

      div.details
        table.branches

    div.instructions
      iframe#instructionFrame(src='/' style='width: 100%; height: 100%; border: none;')
