extends layout

block content
  script(type='text/javascript', src='/javascripts/details.js')

  div.pane1

    h1
      em http://chinesewhisper.cloudapp.net

    h1=title
    p Welcome to #{title}

    h2 Round:&nbsp;
      span.roundNumber

    div.details
      table.branches

  div.instructions
