h2 Round 1

p You are now ready to start adventuring!  You will additionally be sent a set of instructions.  We don’t want to blow your mind, so we only have one instruction #[code F] which will increase your position by one.

h3 IMPORTANT: Run #[code #{"./reconnect.sh"}] to pull the latest code from server

p The question server will provide:
  pre
    code.
      {
        start: ~integer~
        instructions: ~string~
      }

p Question example:
  pre
    code.
      {
        start: 2,
        instructions: "FFFF"
      }

p The answer will expect:
  pre
    code.
      {
        end: ~integer~
      }


p Answer example:
  pre
    code.
      {
        end: 6
      }

h3 IMPORTANT: When you have completed this round, don't forget to run #[code #{"git push"}]
