h2 Round 2

p You are now ready to fully explore both X and Y dimensions of the plain.  You now have a full set of four instructions available:
  ul
    li #[code F] – Forward, increase one in the X dimension
    li #[code B] – Backward, decrease one in the X dimension
    li #[code L] – Left, increase one in the Y dimension
    li #[code R] – Right, decrease one in the Y dimension

h3 IMPORTANT: Before staring, don't forget to run #[code #{"./reconnect.sh"}] to pull the latest code from server

p The question server will provide:
  pre
    code.
        {
          startX: ~integer~
          startY: ~integer~
          instructions: ~string~
        }

p The answer will expect:
  pre
    code.
      {
        endX: ~integer~
        endY: ~integer~
      }

h3 IMPORTANT: When you have completed this round, don't forget to run #[code #{"git push"}]