extends layout

block content
  h1=title
  p Welcome to #{title}

  p please download on of the following setup files to help get ChineseWhispers setup on your machine

  p
    a(href="/teamPack/setup.bat") Windows
  p
    a(href="/teamPack/setup.sh") Mac Linux Unix

  p it is expected that java javac and git are available from your command line

  p give run permissions to the downloaded script

  p to get setup run "./setup.sh [YourTeamName] http://[myIp]/server"

  p cd into the new folder called [YourTeamName]

  p run "run-app [myIp]" to run your code against the q &amp; a server

  p run "reconnect" when I tell you to pick up your new branch

  p when you are happy that you have fully answered a question... make sure to commit and push you code to my git server.

  p git ground rules for this experiment... Do not make any new branches!!! Do not stash!!! Only do basic git commit + push
