body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container { width: 100%; height: 1000px; }
.pane1      { width: 50%; float: left; }
.instructions { width: 50%; float: right; height: 100%; }
